<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
</head>
<body>
	<h3 th:text="${invoice.description}"></h3>
	<span th:text="${invoice.client.name + ' ' + invoice.client.lastName}"></span>
	<table>
		<thead>
			<tr>
				<th>
					Product
				</th>
				<th>
					Price
				</th>
				<th>
					Aamount
				</th>
				<th>
					Total
				</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item: ${invoice.items }">
				<td th:text="${item.product.name}"></td>
				<td th:text="${item.product.price}"></td>
				<td th:text="${item.count}"></td>
				<td th:text="${item.calculateImport()}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>